.products-wrapper {
  padding: 0 20px;
}

.products-item__title {
  font-size: 16px;
  line-height: 20px;
}

.products-item {
  position: relative;
  padding: 19px 0 25px;
  &::before {
    position: absolute;
    width: 320px;
    left: -20px;
    bottom: 0;
    height: 1px;
    background-color: #EBEBEB;
    content: "";
  }
}



.features {
  font-size: 12px;
  line-height: 16px;
}

.button-order {
  width: 280px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
}
