.products__wrapper {
  padding: 0 20px;
}

.products__item__title {
  font-size: 16px;
  line-height: 20px;
}

.products__item {
  position: relative;
  padding: 19px 0 25px;

  &::before {
    position: absolute;
    width: 320px;
    left: -20px;
    bottom: 0;
    height: 1px;
    background-color: #ebebeb;
    content: "";
  }
}

.products__features {
  font-size: 12px;
  line-height: 16px;
}

.products__button {
  width: 280px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
}
