.promo__wrapper {
  padding: 35px 20px;
  text-align: center;
}

.promo__background {
  position: relative;
  width: 280px;
  height: 290px;
  background-image: url("../img/backgrounds/promo-background-mobile.jpg");
  background-repeat: no-repeat;
  background-color: #68b738;
  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/promo-background-mobile@2x.jpg");
    background-size: 280px 290px;
  }

  &::before {
    position: absolute;
    top: 59px;
    left: 101px;
    width: 78px;
    height: 80px;
    content: url("../../img/icon/icon-gift.svg");
  }
}

.promo__text {
  line-height: 20px;
  position: absolute;
  bottom: 55px;
  margin: 0;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    margin-bottom: 76px;
    padding: 0 30px;
    text-align: left;
  }

  .promo__background {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 57px 124px 59px 88px;
    width: 707px;
    height: 200px;
    background-image: url("../img/backgrounds/promo-background-tablet.jpg");
    background-repeat: no-repeat;
    background-color: #68b738;
    @media (min-resolution: 2dppx) {
        background-image: url("../img/backgrounds/promo-background-tablet@2x.jpg");
        background-size: 707px 200px;
    }

    &::before {
      top: 59px;
      left: 101px;
      width: 80px;
      height: 82px;
    }
  }

  .promo__text {
    position: static;
    width: 161px;
    margin: 0;
    color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .promo__background {
    width: 245px;
    height: 288px;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 43px 42px 41px;
    background-image: url("../img/backgrounds/promo-background-desktop.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/promo-background-desktop@2x.jpg");
      background-size: 245px 289px;
    }

    &::before {
      top: 63px;
      left: 84px;
    }
  }
}
