.promo__wrapper {
  padding: 35px 20px;
  text-align: center;
}

.promo__background {
  position: relative;
  width: 280px;
  height: 290px;
  background-image: url("../img/backgrounds/promo-background-mobile.jpg");
  background-repeat: no-repeat;
  background-color: #68b738;

  &::before {
    position: absolute;
    top: 59px;
    left: 101px;
    content: url("../img/icon/icon-gift.svg");
  }
}

.promo__text {
  position: absolute;
  bottom: 55px;
  margin: 0;
  color: #ffffff;
}
