.main-footer {
  background-color: #F2F2F2;
  text-align: center;
}

.main-footer__wrapper {
  padding: 39px 20px 22px;
}

.main-footer__logo-text {
  display: block;
  margin: 0 auto;
}

.social {
  width: 132px;
  margin: 0 auto;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.main-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
