.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 17px;
  align-items: center;
}

.main-header__logo {
  display: flex;
}

.main-nav {
  position: absolute;
  top: 65px;
  left: 0;
  width: 320px;
  background-color: #ffffff;
  z-index: 1;
  box-sizing: border-box;
}

.site-list__item {
  text-align: center;
}

.site-list__item__link {
  display: block;
  font-weight: 20px;
  line-height: 20px;
  font-weight: 500;
  padding: 22px 0 24px;
  text-transform: uppercase;
}

/* Кнопка открытия/закрытия меню */

// .main-nav__close {
//   display: none;
// }
