.main-nav {
  position: absolute;
  top: 65px;
  left: 0;
  width: 320px;
  background-color: #ffffff;
  z-index: 1;
  box-sizing: border-box;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  padding: 22px 0 24px;
  text-transform: uppercase;
}

/* Кнопка открытия/закрытия меню */

// .main-nav--close {
//   display: none;
// }
