.example {
  padding: 25px 0 48px;
  background-color: #eaeaea;
}

.example__wrapper {
  padding: 0 20px;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
}

.example__money-spent {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.example__stats {
  font-family: "Oswald", sans-serif;
  display: grid;
  grid-template-columns: 124px 124px;
  gap: 0 32px;
  margin-bottom: 34px;
}

.example__item {
  position: relative;
  padding-top: 15px;
  padding-bottom: 18px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
}

.example__item__title {
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  padding: 0 15px;
  color: #444444;
  background-color: #eaeaea;
  text-transform: lowercase;

  &--weight {
    bottom: -14px;
    left: 19px;
    width: 84px;
  }

  &--days {
    bottom: -14px;
    left: 19px;
    width: 87px;
  }
}

.example__item__text {
  font-size: 24px;
  line-height: 24px;
  text-transform: lowercase;
}

.example__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.example__switcher {
  text-align: center;
}

.example__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .example {
    border-top: 1px solid #e6e6e6;
    background-color: #ffffff;
  }

  .example__wrapper {
    padding: 0 30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 52px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__results {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__stats {
    grid-template-columns: 162px 162px;
    gap: 0 42px;
  }

  .example__item__title {
    font-size: 14px;
    line-height: 14px;
    padding: 0 8px;
    background-color: #ffffff;

    &--weight {
      bottom: -7px;
      left: 23px;
      width: 115px;
    }

    &--days {
      bottom: -7px;
      left: 8px;
      width: 145px;
    }
  }

  .example__item__text {
    font-size: 30px;
    line-height: 37px;
    text-transform: lowercase;
  }

  .example__money-spent {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    border: none;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 117px 0 110px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 436px;
    margin-bottom: 69px;
  }

  .example__results {
    flex-direction: column;
    align-items: flex-start;
  }

  .example__money-spent {
    font-size: 20px;
  }

  .example__img {
    margin-bottom: 42px;
  }
}
