.example {
  padding: 25px 0 48px;
  background-color: #eaeaea;
}

.example__wrapper {
  padding: 0 20px;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
}

.example__money-spent {
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.example__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.example__switcher {
  text-align: center;
}

.example__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .example {
    border-top: 1px solid #e6e6e6;
    background-color: #ffffff;
  }

  .example__wrapper {
    padding: 0 30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 52px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__results {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__money-spent {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    border: none;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 117px 0 110px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 436px;
    margin-bottom: 69px;
  }

  .example__results {
    flex-direction: column;
    align-items: flex-start;
  }

  .example__money-spent {
    font-size: 20px;
  }

  .example__img {
    margin-bottom: 42px;
  }
}
