.index-top__header {
  height: 275px;
  padding-top: 27px;
  background-image: url("../img/backgrounds/index-background-mobile.png");
  background-repeat: no-repeat;
  background-color: #68b738;
  text-align: center;
}

.index-top__title {
  display: block;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  color: #ffffff;
}

.index-top__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 29px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .index-top__header {
    background-image: none;
    background-color: #ffffff;
  }

  .index-top__text {
    padding-left: 119px;
    text-align: left;
  }

  .index-top__title {
    display: block;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
    color: #000000;
  }

  .index-top__slogan {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 52px;
    color: #000000;
  }
}

@media (min-width: @desktop-width) {
  .index-top__header {
    display: flex;
    flex-direction: row;
  }
}
