.options__wrapper {
  padding: 0 20px;
}

.options__title {
  font-size: 24px;
  line-height: 37px;
}

.options__list {
  padding: 20px 0;
}

.options__item {
  padding: 22px 20px;
  background-color: #F2F2F2;
  &:not(:last-child) {
  margin-bottom: 20px;
}
}

.options__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
