.form-additional {
  padding: 34px 0 9px;
}

.program__title__additional {
  position: relative;
  &::after {
    position: absolute;
    width: 136px;
    top: 15px;
    left: 162px;
    height: 2px;
    background-color: #68B738;
    content: "";
  }
}
