.form-programs {
  position: relative;
  padding-top: 28px;

  &::before {
    position: absolute;
    width: 320px;
    left: -22px;
    bottom: 0;
    height: 1px;
    background-color: #d9d9d9;
    content: "";
  }
}
