.form-comments {
  position: relative;
  padding-bottom: 23px;
}

.program__title__comments {
  margin-bottom: 38px;

  &::after {
    position: absolute;
    width: 158px;
    top: 15px;
    right: -22px;
    height: 2px;
    background-color: #68B738;
    content: "";
  }
}
